@charset 'UTF-8';

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fonte-texto1';
    src: url(https://desenvolvedorpaulosergio.github.io/ProfessionalDesign/IndexDesigns/resources/fonts/fonte-texto1.ttf);
}

@font-face {
    font-family: 'fonte-texto2';
    src: url(https://desenvolvedorpaulosergio.github.io/ProfessionalDesign/IndexDesigns/resources/fonts/fonte-texto2.ttf);
}

body{
    overflow-y: hidden;
}

/* Configurações Header */

nav{
    background: #222222;
    padding: 30px 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, #config-estilo-opcoes > a{
    font: normal normal 25px 'fonte-texto1';
    text-decoration: none;
    transition: 100ms;
    color: #38b6ff;
    margin: 0px 10px;
}

nav > a:hover, #config-estilo-opcoes > a:hover{
    text-decoration: underline;
}

nav > a:first-child, #estilo-titulo-close > h1{
    font: normal bold 30px 'fonte-texto2';
    color: white;
}

nav > a:last-child, #config-estilo-opcoes > a:last-child{
    color: white;
}

#config-display-equiv{
    display: none;
}

#config-margin-projetosdesign{
    margin-left: auto;
}

@keyframes animacaoOpcoes {
    from{
        transform: translateY(-500px);
    }
}

@keyframes animacaoOpcoes2 {
    to{
        transform: translateY(-500px);
    }
}

#config-display-opcoes{
    display: none;
}

#config-estilo-opcoes{
    background: #222222;
    text-align: center;
    margin-top: 1px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    animation: animacaoOpcoes 300ms 1;
}

#config-estilo-opcoes > a{
    font-size: 20px;
    padding: 10px;
}

#config-estilo-opcoes > a:hover{
    border-radius: 50px;
    background: white;
    color: black;
}

#config-estilos-botoes{
    text-align: center;
}

#config-estilos-botoes > button{
    font: normal bolder 20px 'fonte-texto2';
    background: #222222;
    text-align: center;
    transition: 100ms;
    margin: 0.5px 0px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border: none;
    width: 49.5%;
}

#config-estilos-botoes > button:hover{
    transform: scale(1.01);
}

#config-estilos-botoes > button:active{
    transform: scale(0.99);
}

/* Configurações Main */

#condig-mensagem{
    background: #DEDEDE;
    text-align: center;
    margin: 2px auto;
    height: 75dvh;
    width: 99.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

#condig-mensagem > span > h1{
    font: normal bold 60px 'fonte-texto2';
    line-height: 60px;
    transition: 100ms;
    color: #AFAFAF;
}

#condig-mensagem > span > p{
    font: normal normal 30px 'fonte-texto2';
    transition: 100ms;
    color: #AFAFAF;
}

/* Configurações Footer */

footer{
    background: #222222;
    text-align: center;
    padding: 20px 0px;
}

.tamanho-padrao-imgs{
    transition: 200ms;
    width: 50px;
}

.tamanho-padrao-imgs:hover{
    box-shadow: 0px 0px 5px #38b6ff;
    border-radius: 100%;
}

.tamanho-padrao-imgs:active{
    transform: scale(0.99);   
}

/* Configurações de Estilos Espefícisos do Modal de Carregamento */

#condig-fundo-carregamento{
    background: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@keyframes anicacaoCarregamento {
    to{
        rotate: 360deg;
    }
}

#estilo-carregamento-especifico{
    width: 120px;
    height: 120px;
    border-radius: 10000px;
    border: 15px solid #CACACA;
    box-shadow: 0px 0px 5px black;
    border-top: 15px solid #222222;
    animation: anicacaoCarregamento 1s infinite;
}