@charset 'UTF-8';

@media screen and (max-width: 800px) {
    nav{
        padding: 25px 15px;
    }

    nav > a{
        font-size: 20px; 
        margin: 0px 5px;
    }

    nav > a:first-child{
        font-size: 25px;
    }

    #condig-mensagem > span > h1{
        line-height: 40px;
        font-size: 40px;
    }
    
    #condig-mensagem > span > p{
        font-size: 20px;  
    }

    #condig-mensagem{
        height: 480px;
    }

    #config-estilos-botoes > button{
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    nav{
        padding: 0;
    }

    .itens-display-oculto, #config-display-designs{
        display: none;
    }

    #config-display-equiv{
        display: block;
    }

    nav > a:first-child{
        margin-left: 20px;
    }

    nav > a:last-child{
        margin: 0;
        font-size: 50px;
        padding: 5px 20px;
        margin-left: auto;
        background: black;
    }

    #condig-mensagem > span > h1{
        line-height: 30px;
        font-size: 30px;
    }
    
    #condig-mensagem > span > p{
        font-size: 18px;  
    }

    #condig-mensagem{
        height: 500px;
    }

    #config-estilos-botoes > button{
        font-size: 20px;
        width: 100%;
    }

    #config-estilos-botoes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
    }
}