@charset 'UTF-8';

@font-face {
    font-family: 'fonte-titulo';
    src: url('../resources/fonte-titulo.ttf');
}

@font-face {
    font-family: 'fonte-texto';
    src: url('../resources/fonte-texto.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

/* configurações da div primária */

#div-primaria{
    margin: 20px auto;
    height: 100px;
    width: 95%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#div-primaria > h1{
    font: normal normal 80px 'fonte-titulo';
    transition: 200ms;
    color: #042440;
    line-height: 0px;
}

#config-estilo1{
    font: normal normal 80px arial;
    text-align: center;
    transition: 200ms;
    color: #7BA5D1;
}

#config-estilo2{
    font: italic normal 80px arial;
    text-align: center;
    transition: 200ms;
    color: #C5C5C5;
}

#config-estilo3{
    font: italic normal 25px arial;
    text-align: center;
    transition: 200ms;
    color: #C5C5C5;
    line-height: 0px;
}

/* configurações secundárias */

#div-secundaria{
    margin: 0px auto;
    width: 95%;
}

#div-secundaria > table{
    table-layout: fixed;
    width: 100%;
}

th, td{
    font: normal normal 20px 'fonte-texto';
    border: 1px solid black;
    background: #007cff;
    width: calc(100%/8);
    border-radius: 5px;
    padding: 10px 0px;
    color: white;
    border: none;
}

td{
    font: normal normal 15px 'arial';
    background: #C5C5C5;
    text-align: center;
    color: black;
}

input[type=text]{
    width: 100%;
    height: 100%;
}

th, td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.config-padrao-coluna1{
    background: #7BA5D1;
    color: white;
}

/* configurações terciarias */

#config-display-block{
    margin-top: 20px;
    display: block;
    width: 95%;
}

#config-flex{
    border-top: 1px solid #ADADAD;
    padding: 25px 20px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#config-nome{
    font: normal normal 20px 'arial';
    color: #437fbe;
}

#config-nome > span{
    color: #355b79;
}

#config-button{
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.config-padrao-button{
    background: #355B79;
    border-radius: 100%;
    transition: 200ms;
    color: #f0ffef;
    font-size: 25px;
    cursor: pointer;
    line-height: 0;
    padding: 10px;
    border: none;
}

.config-padrao-button:hover{
    transform: scale(1.05);
}

.config-padrao-button:active{
    transform: scale(0.95);
}

#config-display-block-modal{
    background: white;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
}

#config-display-flex-modal{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#config-modal{
    border-bottom: 5px solid #007cff;
    border-radius: 20px;
    height: 250px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#config-modal > p{
    font: normal lighter 30px 'fonte-texto';
    text-align: center;
    color: #042440;
    padding: 10px;
}

#elemento-landscape{
    transform: scale(1.5);
}

/* configurções de reponsividade */

@media screen and (max-width: 1008px){
    #div-primaria > h1, #config-estilo1, #config-estilo2{
        font-size: 45px;
    }

    #config-estilo3{
        font-size: 15px;
    }
}

@media screen and (orientation: portrait){
    #div-primaria, #div-secundaria, #config-display-block{
        display: none;
    }

    #config-display-block-modal{
        display: block;
    }
}