@charset 'UTF-8';

@font-face {
    font-family: 'fonte-titulo';
    src: url('../resources/fonte-titulo.ttf');
}

@font-face {
    font-family: 'fonte-texto';
    src: url('../resources/fonte-texto.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-flow: column nowrap;
}

/* configurações da div primária */

#div-primaria{
    width: 95%;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#div-primaria > h1{
    font: normal normal 80px 'fonte-titulo';
    transition: 200ms;
    color: #042440;
    line-height: 0px;
}

#configurações-titulo2{
    /* border: 1px solid black; */
}

#config-estilo1{
    font: normal normal 80px arial;
    text-align: center;
    transition: 200ms;
    color: #7BA5D1;
}

#config-estilo2{
    font: italic normal 80px arial;
    text-align: center;
    transition: 200ms;
    color: #C5C5C5;
}

#config-estilo3{
    font: italic normal 25px arial;
    transition: 200ms;
    color: #C5C5C5;
    line-height: 0px;
    text-align: center;
}

/* configurções de reponsividade */

@media screen and (max-width: 1008px){
    #div-primaria > h1, #config-estilo1, #config-estilo2{
        font-size: 45px;
    }

    #config-estilo3{
        font-size: 15px;
    }
}