*{
    margin: auto;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bree+Serif&family=Questrial&display=swap');


:root{
    --corfundo-cabeçalho: #cedae4;
    --corborda-tabela: #5283BD;
    --cor-letra1: #437fbe;
    --cor-letra2: #355b79;
    --cor-letra3: #007cff;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../fonts/fonte-cabecalho.ttf);
}

main{
    width: 80%;
    position: relative;
}

table{
    border: 2px solid var(--corborda-tabela);
    table-layout: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    margin-top: 20px;
    width: 100%;
    height: 70vh;
}

th, td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td > img{
    width: 50%;
}

table, tr, th, td, caption{
    border-collapse: collapse;
    border: 2px solid var(--corborda-tabela);
}

tr, th, td, caption{
    padding: 5px;
}

td:nth-child(1n){
    font: normal normal 0.9em 'Arial';
    color: var(--cor-letra2);
    text-align: center;
}


#estilo-cabeçalho-vertical > th{
    background-image: linear-gradient(90deg, #bde1ff, white);
}

th, caption{
    font: normal bold 1.2em 'fonte-titulo';
    color: var(--cor-letra2);
}

@media (max-width: 1100px) {
    th{
        font-size: 2vw;
    }
}