*{
    padding: 0%;
    margin: 0;
}

body{
    height: 100dvh;
    width: 95dvw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#container-filho{
    box-shadow: 8px 8px 0px #CCCCCC;
    border-radius: 10px;
    background: #E5E2E2;
    text-align: center;
    height: 300px;
    padding: 20px;
    width: 650px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#container-filho > span{
    width: 100%;
}

input[type=number]{
    font: normal normal 20px 'arial';
    background: white;
    border-radius: 5px;
    color: #9E9E9E;
    padding: 10px;
    border: none;
    width: 70%;
}

#agrupar{
    box-shadow: 5px 5px 0px #CCCCCC;
    font: normal normal 20px 'arial';
    background: white;
    border-radius: 5px;
    color: #9E9E9E;
    padding: 10px;
    border: none;
    width: 100px;
}

#agrupar:active{
    transform: scale(0.90);
    box-shadow: none;
    color: black;
}

#estilo-fundo{
    background: white;
    height: 120px;
    width: 100%;
}

select{
    font: normal normal 20px 'arial';   
    background: white;
    color: #9E9E9E;
    border: none;
    width: 100%;
}