*{
    padding: 0%;
    margin: 0;
}

body{
    height: 100dvh;
    width: 95dvw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#container-filho{
    box-shadow: 8px 8px 0px #CCCCCC;
    border-radius: 10px;
    background: #E5E2E2;
    text-align: center;
    height: 300px;
    padding: 20px;
    width: 650px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#container-filho > span{
    width: 100%;
}

input[type=number]{
    font: normal normal 20px 'arial';
    background: white;
    border-radius: 5px;
    color: #9E9E9E;
    padding: 10px;
    border: none;
    width: 70%;
}

#agrupar, #relatorio, #voltar{
    box-shadow: 5px 5px 0px #CCCCCC;
    font: normal normal 20px 'arial';
    background: white;
    border-radius: 5px;
    color: #9E9E9E;
    padding: 10px;
    border: none;
    width: 100px;
}

#agrupar:active, #relatorio:active, #voltar:active{
    transform: scale(0.95);
    box-shadow: none;
    color: black;
}

#lista-div{
    font: normal normal 20px 'arial';   
    background: white;
    color: #9E9E9E;
    border: none;
    text-align: left;
    height: 140px;
    width: 95%;
    overflow-y: auto;
    margin: 10px 0px;
    padding: 10px;
}

#relatorio{
    width: 100%;
}

#relatorio-dados-container{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
}

#relatorio-dados{
    width: 650px;
    height: 350px;
    box-shadow: 5px 5px 0px #CCCCCC;
    border-radius: 5px;
    background: #E5E2E2;   
    padding: 10px;
    font: normal normal 20px 'arial';   
    color: #9E9E9E;
}

#estilo-lista-relatorio{
    background: white;
    width: 90%;
    height: 65%;
    list-style: '✔' inside none;
    padding: 10px;
    margin: auto;
    margin: 20px auto;
    text-align: left;
}

#voltar{
    width: 90%;
    margin: auto;
}

#estilo-center{
    text-align: center;
}

#relatorio-dados-display{
    display: none;
}
