@charset 'UTF-8';

*{
    padding: 0%;
    margin: 0px;
}

:root{
    --cor-fundo-nav: #5b0f01;
    --cor-borda-navsobre: #941900;
    --cor-letra1: #ffffff;
    --cor-letra2: #d8d8d8;
    --cor-letra3: #e25905;
    --cor-letra4: #f98c08;
    --cor-letra5: red;
    --cor-fundo-transparencia: '';
    --cor-hr: #ffce1c93;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resource/fonts/font-title.ttf);
}

@font-face {
    font-family: 'fonte-texto';
    src: url(../resource/fonts/font-text.ttf);
}

#estilo-navegador{
    border: 2px solid var(--cor-borda-navsobre);
    background-color: var(--cor-fundo-nav);
    padding: 10px 10px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    vertical-align: baseline;
}

#estilo-navegador > a{
    font: normal normal 25px 'fonte-titulo';
    color: var(--cor-letra1);
    text-decoration: none;
    margin: 0px 15px;
}

#estilo-navegador > a:last-child{
    border: 2px solid var(--cor-borda-navsobre);
    border-radius: 30px;
    margin-left: auto;
    padding: 4px 20px;
}

#estilo-logo{
    width: 100px;
    margin: 0%;
    padding: 0%;
}

#estilo-logo > img{
    transform: translate(-15px, 5px);
}

#estilo-icone-navegador{
    color: var(--cor-letra1);
    font-size: 100px;
}