@charset 'UTF-8';

*{
    padding: 0%;
    margin: 0px;
}

:root{
    --cor-fundo-nav: #5b0f01;
    --cor-borda-navsobre: #941900;
    --cor-letra1: #ffffff;
    --cor-letra2: #d8d8d8;
    --cor-letra3: #e25905;
    --cor-letra4: #f98c08;
    --cor-letra5: red;
    --cor-fundo-transparencia: '';
    --cor-hr: #ffce1c93;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resource/fonts/font-title.ttf);
}

@font-face {
    font-family: 'fonte-texto';
    src: url(../resource/fonts/font-text.ttf);
}

#estilo-navegador{

}