@charset 'UTF-8';

@media screen and (max-width: 740px) {
    #estilo-navegador > a{
        font-size: 20px;
    }
    #estilo-logo{
        width: 75px;
    }
    #estilo-navegador > a:last-child{
        padding: 1px 15px;
    }

    #estilo-parte1{
        padding: 0%;
    }

    #estilo-especifico-div, #estilo-especifico-form{
        margin-bottom: 20px;
        margin-left: 0;
        margin: auto;

    }

    #estilo-especifico-form{
        margin-bottom: 100px;
        margin-top: 30px;
    }

    #estilo-especifico-div{
        height: 280px;
    }

    /* Responsividade Parte 2 de Section */

    .estilo-card-sevico{
        margin-bottom: 20px;
    }

    /* Responsividade Parte 3 de Section */

    .estilo-div{
        display: flex;
        flex-flow: column nowrap;
    }

}

@media screen and (max-width: 565px) {
    #estilo-icone-navegador{
        text-align: center;
        display: block;
        margin: auto;
    }

    #estilo-navegador{
        flex-flow: column nowrap;
        vertical-align: baseline;
        align-items: center;
        text-align: center;
    }

    #estilo-navegador > a{
        display: none;
        line-height: 50px;
        padding: 0px 30%;
    }

    #estilo-navegador > a:hover{
        background: var(--cor-borda-navsobre);
        border-radius: 10px;
    }

    #estilo-navegador > a:last-child{
        padding: 0px 30%;
        margin: 0;
    }

    /* Responsividade Parte 1 de Section */

    #estilo-parte1{
        background-image: url(../resource/imgs/background-screen1portrait.jpg);
        background-position: bottom center;
    }

    .nomelogo{
        font-size: 35px;
    }

    #estilo-numero-telefone{
        font-size: 6vw;
    }

    /* Responsividade Parte 2 de Section */

    .estilo-card-sevico{
        margin-bottom: 20px;
    }

    #estilo-especifico1, #estilo-especifico2{
        font-size: 16px;
    }

}
