@charset 'UTF-8';

*{
    padding: 0%;
    margin: 0px;
}

:root{
    --cor-fundo-nav: #5b0f01;
    --cor-borda-navsobre: #941900;
    --cor-letra1: white;
    --cor-letra2: #e25905;
    --cor-letra3: #f98c08;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resource/fonts/font-title.ttf);
}

@font-face {
    font-family: 'fonte-texto';
    src: url(../resource/fonts/font-text.ttf);
}

nav{
    background-color: var(--cor-fundo-nav);
    border: 3.5px solid var(--cor-borda-navsobre);
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 30px;
    align-items: center;
}

nav > a{
    font: normal normal 25px 'font-titulo';
    color: var(--cor-letra1);
    text-decoration: none;
    flex-basis: 70px;
    width: 100%;
    height: 100%;
    margin: 0px 14px;
}

a > img{
    width: 120%;
    margin-left: 10%;
}

nav > a:last-child{
    border: 2px solid var(--cor-borda-navsobre);
    border-radius: 30px;
    margin-left: auto;
    margin-right: 2%;
    padding: 4px 14px;
    text-align: center;
}

a:hover{
    text-decoration: underline;
    color: rgb(216, 216, 216);
}

a:last-child:hover{
    text-decoration: none;
    background-color: var(--cor-borda-navsobre);
}

#estilo-formulario{
    background: black url(../resource/imgs/background-screen1.jpg) center center no-repeat;
    background-size: cover;    
    height: 75vh;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

.estilo-div{
    background: #ffffff3a;
    max-width: 310px;
    height: 360px;
    border-radius: 15px;
    margin: 0px 0px 0px 8%;
}