@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

body{
    background: #111111;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

/* Configurações Header */

nav{
    padding: 30px 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, div > a{
    font: normal normal 15px 'arial';
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}

nav > a:last-child{
    font-size: 50px;
    display: none;
}

nav > a:hover, div > a:hover{
    text-decoration: underline;
    color: red;
}

#estilo-margin{
    margin-left: auto;
}

nav > img{
    width: 100px;
    height: 40px;
}

#container-estilo-opcoes{
    display: none;
}

#estilo-opcoes{
    background: black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}

#estilo-opcoes > a{
    transition: 400ms;
}

#estilo-opcoes > a:hover{
    background: white;
    color: black;
}

#estilo-opcoes > a:active{
    transform: scale(0.95);
}

/* Configurações Main */

main{
    position: relative;
    overflow: hidden;
    padding: 40px;
    height: 470px;
}

#estilo-container1{
    margin-top: 50px;
    width: 450px;
    height: 60dvh;
}

#estilo-titulo1{
    font: normal bold 30px 'arial';
    transition: 300ms;
    color: white;
}

#estilo-titulo2{
    font: normal bold 100px 'arial';
    transition: 300ms;
    color: #F53227;
}

#estilo-texto{
    font: normal normal 15px 'serif';
    margin: 30px 0px;
    color: white;
}

#estilo-botao{
    font: normal normal 15px 'arial';
    border-radius: 30px;
    background: red;
    transition: 500ms;
    color: white;
    padding: 20px;
    padding: 10px;
    border: 0;
}

#estilo-botao:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

#estilo-container2{
    transform: translate(50dvw, -70dvh);
    border-radius: 100%;
    position: absolute;
    background: red;
    height: 1500px;
    width: 1500px;
}

#estilo-container1-coca{
    margin-left: auto;
    width: 450px;
}

#config-cocas{
    position: absolute;
    top: 30dvh;
}

.estilo-padrao-coca{
    width: 110px;
}

#estilo-coca1{transform: rotate(-20deg);}
#estilo-coca2{transform: rotate(20deg);}
#estilo-coca4{transform: rotate(20deg);}

.estilo{
    border-radius: 100%;
    background: white;
    margin-top: 10px;
    padding: 10px;
    border: none;
    transition: 300ms;
}

.estilo-padrao-icones{
    line-height: 0px;
    height: 25px;
    width: 25px;
}

.estilo:hover{
    transform: translateY(-5px);
    background: red;
}