@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

body{
    background: #111111;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
}

/* Configurações Header */

nav{
    padding: 30px 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, div > a{
    font: normal normal 15px 'arial';
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}

nav > a:last-child{
    font-size: 50px;
    display: none;
}

nav > a:hover, div > a:hover{
    text-decoration: underline;
    color: red;
}

#estilo-margin{
    margin-left: auto;
}

nav > img{
    width: 100px;
    height: 40px;
}

#container-estilo-opcoes{
    display: none;
}

#estilo-opcoes{
    background: black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}

#estilo-opcoes > a{
    transition: 400ms;
}

#estilo-opcoes > a:hover{
    background: white;
    color: black;
}

#estilo-opcoes > a:active{
    transform: scale(0.95);
}

/* Configurações Main */

main{
    overflow-y: hidden;
    padding: 40px;
}

#estilo-container1{
    margin-top: 50px;
    width: 450px;
    height: 60dvh;
}

#estilo-titulo1{
    font: normal bold 30px 'arial';
    color: white;
}

#estilo-titulo2{
    font: normal bold 100px 'arial';
    color: #F53227;
}

#estilo-texto{
    font: normal normal 15px 'serif';
    margin: 30px 0px;
    color: white;
}

#estilo-botao{
    font: normal normal 15px 'arial';
    border-radius: 30px;
    background: red;
    transition: 500ms;
    color: white;
    padding: 20px;
    padding: 10px;
    border: 0;
}

#estilo-botao:hover{
    transform: translateY(-5px);
}

#estilo-container2{
    background: red;
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    position: absolute;
    transform: translate(60dvw, -60dvh);
}