*{
    margin: auto;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bree+Serif&family=Questrial&display=swap');


:root{
    --corfundo-cabeçalho: #cedae4;
    --corborda-tabela: #5283BD;
    --cor-letra1: #437fbe;
    --cor-letra2: #355b79;
    --cor-letra3: #007cff;
}

main{
    width: 80%;
}

table{
    border: 2px solid var(--corborda-tabela);
    table-layout: fixed;
    width: 100%;
}

th, td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table, tr, th, td, caption{
    border-collapse: collapse;
    border: 2px solid var(--corborda-tabela);
}

tr, th, td, caption{
    padding: 5px;
}

td:nth-child(1n){
    font: normal normal 1em 'Arial';
    color: var(--cor-letra2);
    text-align: center;
}


#estilo-cabeçalho-vertical > th{
    background-image: linear-gradient(90deg, #bde1ff, white);
}

th{
    font: normal bold 1em 'Alice';
}