@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resource/fonts/fonte-titulo.ttf);
}

body{
    background: #B4B5F4;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.config-elemento{
    height: 550px;
    width: 550px;
}

#config-div-especifico{
    background: #e3ceac url(../resource/imgs/img1.svg) center center no-repeat;
    background-size: contain;
}

#config-form-especifico{
    background: white;
}