@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resource/fonts/fonte-titulo.ttf);
}

body{
    background: #B4B5F4;
    height: 100vh;
}

body, #config-display{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.config-elemento{
    height: 550px;
    width: 550px;
}

#config-div-especifico{
    background: #e3ceac url(../resource/imgs/img1.svg) center center no-repeat;
    background-size: 90%;
}

#config-form-especifico{
    background: white;
}

.config-divs{
    padding: 20px;
}

h1{
    font: normal bold 30px 'fonte-titulo';
}

h1 > span{
    border: none;
    border-bottom: 4px solid #564FC8;
}

.estilo-botao-padrao{
    font: normal normal 15px 'arial';
    background: #564FC8;
    padding: 10px 16px;
    border-radius: 5px;
    color: white;
    border: none;
}

.estilo-botao-padrao:active{
    background: #242077;
}

#estilo-especifico-botao1{
    margin-left: 18vw;
}

#estilo-especifico-botao2{
    width: 70%;
}

#config-center{
    text-align: center;
}

input[type=text], input[type=email], input[type=password], input[type=tel]{
    box-shadow: 2px 2px 5px #00000042;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    width: 220px;
}

#config-display-especifico{
    font: normal normal 18px 'arial';
    margin: 10px 0px;
    gap: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

label{
    margin: 20px 0px 20px 0px;
}

@media screen and (max-width: 1100px){
    #config-div-especifico{
        display: none;
    }

    #config-form-especifico{
        width: 700px;
    }
}

@media screen and (max-width: 535px){
    body{
        background-color: red;
    }
    #config-display-especifico{
        overflow-y: auto;
        height: 40vh;
    }
}