@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resource/fonts/fonte-titulo.ttf);
}

body{
    background: #B4B5F4;
    height: 100vh;
}

body, #config-display{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.config-divs{
    border: 2px solid red;
}

.config-elemento{
    height: 550px;
    width: 550px;
}

#config-div-especifico{
    background: #e3ceac url(../resource/imgs/img1.svg) center center no-repeat;
    background-size: 90%;
}

#config-form-especifico{
    background: white;
}

.config-divs{
    padding: 20px;
}

h1{
    font: normal bold 30px 'fonte-titulo';
}

h1 > span{
    border: none;
    border-bottom: 4px solid #564FC8;
}

.estilo-botao-padrao{
    font: normal normal 15px 'arial';
    background: #564FC8;
    border-radius: 5px;
    color: white;
    border: none;
}

.estilo-botao-padrao:active{
    background: #242077;
}

#estilo-especifico-botao1{
    padding: 10px 16px;
    margin-left: 20vw;
}