@charset 'UTF-8';

    /* Configurações de Navegação do Projeto Pt1*/

:root{
    --corfundonav: #000000;
    --corfundonav2: #383838;
    --corbordanav: #1e222e;
    --corbordaspan: #383838;

    --cor-fundo-div: #0F1015;
    --cor-borda-div: #ffffff71;

    --cor-letra1: #ffffff;
    --cor-letra2: #C3A074;
    --cor-letra3: #ffffff98;

    --font-letra1: arial;

    --cor-fundo-botao: #C3A074;
}

@font-face {
    font-family: 'fonte-preco';
    src: url(../resource/fonts/fonte-preco.ttf);
}

*{
    margin: 0;
    padding: 0%;    
}

body{
    margin: auto;
    background: black;
}

nav{
    border: 2px solid var(--corbordanav);
    background: var(--corfundonav);
    padding: 10px 40px;
    margin: 0;
    transition: 300ms;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, nav > span{
    font: normal normal 18px var(--font-letra1);
    color: var(--cor-letra1);
    text-decoration: none;
    padding: 10px 15px;
    transition: 300ms;
}

nav > img:hover, nav > a:hover, nav > span:hover{
    text-decoration: underline;
    color: var(--cor-letra3);
    cursor: pointer;
}


nav > img{
    margin-right: auto;
    width: 100px;
    transition: 300ms;
}

nav > #estilo-especifico-opcao{
    margin-right: auto;
}

#estilo-equiv{
    display: none;
}

/* Configurações do Projeto Pt2*/

#section-project-pt2{
    background: black url(../resource/imgs/home-img.jpeg) right bottom no-repeat;
    background-size: cover;
    height: 83.8vh;

    display: flex;
}

#section-project-pt2 > div{
    background: transparent;
    margin: auto 0px;
    padding: 25px;
    width: 350px;
}

#section-project-pt2 > div > h1{
    font: normal bold 40px var(--font-letra1);
    color: var(--cor-letra1);
}

#section-project-pt2 > div > p{
    font: normal normal 15px var(--font-letra1);
    color: var(--cor-letra3);
    line-height: 20px;
}

.estilo-padrao-botao{
    font: normal normal 15px var(--font-letra1);
    background: var(--cor-fundo-botao);
    color: var(--cor-letra1);
    padding: 10px 20px;
    border: none;
    transition: 100ms;
}

.estilo-padrao-botao:hover{
    background: #a0825e;
    cursor: pointer;
}

.estilo-padrao-botao:active{
    background: #3f3325;
}

/* Configurações do Projeto Pt3*/

.estilo-padrao-titulo{
    font: normal normal 30px var(--font-letra1);
    color: var(--cor-letra1);
    line-height: 100px;
    text-align: center;
}

#style-display-divs-sectionpt3{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.estilo-padraodiv-pt3{
    height: 480px;
    width: 550px;
}

#estilo-especifico-div1{
    background: transparent url(../resource/imgs/about-img.jpeg) center center no-repeat;
    background-size: cover;
}

#estilo-especifico-div2{
    background: var(--cor-fundo-div);
}

.estilo-padrao-subtitulo{
    font: normal bold 25px var(--font-letra1);
    color: var(--cor-letra1);
    padding-left: 20px;
    padding-top: 28%;
}

#estilo-especifico-div2 > p{
    font: normal normal 15px var(--font-letra1);
    color: var(--cor-letra3);
    padding-left: 20px;
}

#config-especifico{
    margin-left: 20px;
}

/* Configurações do Projeto Pt4*/

#config-display-divpt4{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    gap: 10%;
}

.estilo-padrao-divspt4{
    border: 0.5px solid var(--cor-borda-div);
    margin-bottom: 40px;
    text-align: center;
    padding: 80px 0px;
    height: 240px;
    width: 300px;
}

.estilo-preco{
    font: normal normal 25px 'fonte-preco';
    color: var(--cor-letra1);
    line-height: 30px;
}

/* Configurações do Projeto Pt5*/

#section-project-pt5{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}


.estilo-padrao-divspt5{
    border: 0.5px solid var(--cor-borda-div);
    padding: 50px 0px 100px 0px;
    text-align: center;
    height: 240px;
    width: 300px;
    margin: 40px auto;
}

.material-symbols-display2{
    border: 1px solid white;
    color: var(--cor-letra1);
    border-radius: 2px;
    padding: 10px;
    transition: 300ms;
}

.material-symbols-display2:hover{
    border-color: var(--corbordaspan);
    color: var(--cor-letra2);
    cursor: pointer;
}

.material-symbols-display3{
    color: var(--cor-letra2);
    line-height: 20px;
    word-spacing: -20px;
}

.estilo-padrao-subtitulo2{
    font: normal bold 20px var(--font-letra1);
    color: var(--cor-letra1);
}