@charset 'UTF-8';

:root{
    --corfundonav: #000000;
    --corbordanav: #1e222e;


    --cor-letra1: #ffffff;
    --cor-letra2: #C0AC89;
    --cor-letra3: #ffffff98;

    --font-letra1: arial;

}

body{
    margin: auto;
    padding: 0%;
}

nav{
    border: 2px solid var(--corbordanav);
    background: var(--corfundonav);
    padding: 10px 40px;
    margin: 0;
    transition: 300ms;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, nav > span{
    font: normal normal 18px var(--font-letra1);
    color: var(--cor-letra1);
    text-decoration: none;
    padding: 10px 15px;
    transition: 300ms;
}

nav > img:hover, nav > a:hover, nav > span:hover{
    text-decoration: underline;
    color: var(--cor-letra3);
    cursor: pointer;
}


nav > img{
    margin-right: auto;
    width: 100px;
    transition: 300ms;
}

nav > #estilo-especifico-opcao{
    margin-right: auto;
}

#estilo-equiv{
    display: none;
}