@charset 'UTF-8';

@media screen and (max-width: 790px){

    /* Configurações Respoinsiva de Navegação do Projeto Pt1*/

    nav{
        padding: 10px 5px;
    }

    nav > img{
        width: 75px;
    }

    nav > a, nav > span{
        font-size: 15px;
    }

    /* Configurações Respoinsiva do Projeto Pt2*/
    
    #section-project-pt2 > div{
        margin-right: auto;
    }

    #section-project-pt2{
        background: black url(../resource/imgs/home-img.jpeg) center center no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 642px){

    /* Configurações Respoinsivas de Navegação do Projeto Pt1*/
    
    nav{
        text-align: center;
        padding: 10px 5px;
        padding: 10px 5px;

        display: flex;
        flex-flow: column wrap;
    }

    nav > img{
        margin: auto;
        width: 80px;
    }

    nav > #estilo-especifico-opcao{
        margin-right: 0;
    }

    nav > a, nav > img, nav > span{
        font-size: 20px;
        display: none;
    }

    .material-symbols-outlined, .estilo-opcao-geral{
        width: 90%;
    }
    
    .material-symbols-outlined:hover, .estilo-opcao-geral:hover{
        background: #383838;
    }

    #estilo-equiv{
        color: var(--cor-letra1);
        font-size: 80px;
        display: block;
        margin: auto;
    }

    /* Configurações Respoinsivas de Navegação do Projeto Pt5*/

}