@charset 'UTF-8';

@media screen and (max-width: 790px){

    /* Configurações Respoinsiva de Navegação */

    nav{
        padding: 10px 5px;
    }

    nav > img{
        width: 75px;
    }

    nav > a, nav > span{
        font-size: 15px;
    }
}

@media screen and (max-width: 642px){

    /* Configurações Respoinsiva de Navegação */
    
    nav{
        text-align: center;
        padding: 10px 5px;
        padding: 10px 5px;

        display: flex;
        flex-flow: column wrap;
    }

    nav > img{
        margin: auto;
        width: 80px;
    }

    nav > #estilo-especifico-opcao{
        margin-right: 0;
    }

    nav > a, nav > img, .material-symbols-outlined{
        font-size: 20px;
        display: none;
    }

    .material-symbols-outlined, .estilo-opcao-geral{
        width: 90%;
    }
    
    .material-symbols-outlined:hover, .estilo-opcao-geral:hover{
        background: #383838;
    }

    #estilo-equiv{
        color: var(--cor-letra1);
        font-size: 80px;
        display: block;
        margin: auto;
    }

}